deploy
__pycache__
*.egg-info
.eggs
*pytest_cache*
*.py[cxo]
.ipynb_checkpoints
__pytest__
.xprocess
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git*
.github
.mypy_cache
.ruff_cache
.venv
.streamlit/secrets.toml
.devcontainer
.DS_Store
.gitlab-ci.yml
.gitignore
.dockerignore
Dockerfile
.env
data
.history
.vscode
nbs/